{% extends 'layouts/main.html.twig' %}

{% block title %} {{ parent() }} - Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>

    <form action="" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Sujet</label>
            <input type="text" class="form-control" id="sujet" name="sujet">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Message</label>
            <textarea class="form-control" id="content" name="content"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>

{% endblock %}
