{% extends 'layouts/main.html.twig' %}

{% block title %} {{ parent() }} - Accueil{% endblock %}

{% block body %}
    <h1>Accueil</h1>

    <a href="blog-create " class="btn btn-primary">Ajouter un article</a>


{% endblock %}