{% extends 'layouts/main.html.twig' %}

{% block title %} {{ parent() }} - Accueil{% endblock %}

{% block body %}
    <h1>Accueil</h1>

    {% if not session['flash_messages']['error'] is empty %}
        <div class="alert alert-danger" role="alert">
            {{ session['flash_messages']['error'] }}
        </div>
    {% elseif not session['flash_messages']['success'] is empty %}
        <div class="alert alert-success" role="alert">
            {{ session['flash_messages']['success'] }}
        </div>
    {% endif %}

    <a href="/blog-create" class="btn btn-primary">Ajouter un article</a>


{% endblock %}